xml_schema/fers-xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XSD for FERS XML simulation script files. -->
<!-- Script files must conform to this DTD or simulation results are likely to be unreliable. -->
<!-- Marc Brooker mbrooker@rrsg.ee.uct.ac.za -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="simulation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="parameters"/>
                <xs:element maxOccurs="unbounded" ref="pulse"/>
                <xs:element maxOccurs="unbounded" ref="timing"/>
                <xs:element maxOccurs="unbounded" ref="antenna"/>
                <xs:element maxOccurs="unbounded" ref="platform"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="multipath"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="include"/>
            </xs:sequence>
            <xs:attribute name="name" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Parameters Element -->
    <xs:element name="parameters">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="starttime" type="xs:string"/>
                <xs:element name="endtime" type="xs:string"/>
                <xs:element minOccurs="0" name="c" type="xs:string"/>
                <xs:element minOccurs="0" name="interprate" type="xs:string"/>
                <xs:element minOccurs="0" name="rate" type="xs:string"/>
                <xs:element minOccurs="0" name="randomseed" type="xs:string"/>
                <xs:element minOccurs="0" name="adc_bits" type="xs:string"/>
                <xs:element minOccurs="0" name="oversample" type="xs:string"/>
                <xs:element minOccurs="0" ref="export"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="export">
        <xs:complexType>
            <xs:attribute name="xml" default="true">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="csv" default="true">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="binary" default="false">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <!-- Pulsed Radar Pulse Element -->
    <xs:element name="pulse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="power" type="xs:string"/>
                <xs:element minOccurs="0" name="carrier" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="type" use="required"/>
            <xs:attribute name="filename"/> <!-- This is only required for type="file" -->
        </xs:complexType>
    </xs:element>

    <!-- Timing Source Element -->
    <xs:element name="timing">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="frequency" type="xs:string"/>
                <xs:element minOccurs="0" name="freq_offset" type="xs:string"/>
                <xs:element minOccurs="0" name="random_freq_offset" type="xs:string"/>
                <xs:element minOccurs="0" name="phase_offset" type="xs:string"/>
                <xs:element minOccurs="0" name="random_phase_offset" type="xs:string"/>
                <xs:element minOccurs="0" ref="noise_entry" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="synconpulse" default="true">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="noise_entry">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="alpha" type="xs:string"/>
                <xs:element name="weight" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Antenna Element -->
    <xs:element name="antenna">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="alpha" type="xs:string"/>
                <xs:element minOccurs="0" name="beta" type="xs:string"/>
                <xs:element minOccurs="0" name="gamma" type="xs:string"/>
                <xs:element minOccurs="0" name="diameter" type="xs:string"/>
                <xs:element minOccurs="0" name="azscale" type="xs:string"/>
                <xs:element minOccurs="0" name="elscale" type="xs:string"/>
                <xs:element minOccurs="0" name="efficiency" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="pattern" use="required"/>
            <xs:attribute name="filename"/>
            <xs:attribute name="module"/>
            <xs:attribute name="function"/>
        </xs:complexType>
    </xs:element>

    <!-- Platform Element -->
    <xs:element name="platform">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="motionpath"/>
                <xs:choice>
                    <xs:element ref="rotationpath"/>
                    <xs:element ref="fixedrotation"/>
                </xs:choice>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="monostatic"/>
                    <xs:element ref="transmitter"/>
                    <xs:element ref="receiver"/>
                    <xs:element ref="target"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="name" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Motion paths and Position Waypoints -->
    <xs:element name="motionpath">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="positionwaypoint"/>
            </xs:sequence>
            <xs:attribute name="interpolation" default="static">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="static"/>
                        <xs:enumeration value="linear"/>
                        <xs:enumeration value="cubic"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="positionwaypoint">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="x" type="xs:string"/>
                <xs:element name="y" type="xs:string"/>
                <xs:element name="altitude" type="xs:string"/>
                <xs:element name="time" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Constant Rate Rotation -->
    <xs:element name="fixedrotation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="startazimuth" type="xs:string"/>
                <xs:element name="startelevation" type="xs:string"/>
                <xs:element name="azimuthrate" type="xs:string"/>
                <xs:element name="elevationrate" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Rotation Paths and Waypoints -->
    <xs:element name="rotationpath">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="rotationwaypoint"/>
            </xs:sequence>
            <xs:attribute name="interpolation" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="linear"/>
                        <xs:enumeration value="cubic"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="rotationwaypoint">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="azimuth" type="xs:string"/>
                <xs:element name="elevation" type="xs:string"/>
                <xs:element name="time" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Monostatic radar installations -->
    <xs:element name="monostatic">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="window_skip" type="xs:string"/>
                <xs:element minOccurs="0" name="window_length" type="xs:string"/>
                <xs:element name="prf" type="xs:string"/>
                <xs:element minOccurs="0" name="noise_temp" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="pulsed"/>
                        <xs:enumeration value="continuous"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="antenna" use="required"/>
            <xs:attribute name="pulse" use="required"/>
            <xs:attribute name="timing" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Standalone Transmitter -->
    <xs:element name="transmitter">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="prf" type="xs:string"/>
                <!-- code requires the use of prf even for CW transmitters -->
            </xs:sequence>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="pulsed"/>
                        <xs:enumeration value="continuous"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="pulse" use="required"/>
            <xs:attribute name="antenna" use="required"/>
            <xs:attribute name="timing" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Standalone Receiver -->
    <xs:element name="receiver">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="window_skip" type="xs:string"/>
                <xs:element minOccurs="0" name="window_length" type="xs:string"/>
                <xs:element name="prf" type="xs:string"/>
                <xs:element minOccurs="0" name="noise_temp" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="type" use="required"/>
            <xs:attribute name="antenna" use="required"/>
            <xs:attribute name="timing" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Target -->
    <xs:element name="target">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="rcs">
                    <xs:attribute name="name" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="rcs">
        <xs:sequence>
            <xs:element ref="rcs"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="rcs">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="value" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="type" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Multipath Surface Element -->
    <xs:element name="multipath">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="factor" type="xs:string"/>
                <xs:element name="nx" type="xs:string"/>
                <xs:element name="ny" type="xs:string"/>
                <xs:element name="nz" type="xs:string"/>
                <xs:element name="d" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Include another XML file -->
    <xs:element name="include" type="xs:string"/>
</xs:schema>
