xml_schema/fers-xml.dtd

<!-- FERS XML Document Type Definition -->
        <!ELEMENT simulation (parameters?, (pulse | timing | antenna | platform | include)*)>
        <!ATTLIST simulation name CDATA #REQUIRED>

        <!-- Simulation Parameters -->
        <!ELEMENT parameters (starttime,endtime,rate,c?,pathSamplingRate?,randomseed?,adc_bits?,oversample?,origin?,export?)>
        <!-- Start time of simulation -->
        <!ELEMENT starttime (#PCDATA)>
        <!-- End time of simulation -->
        <!ELEMENT endtime (#PCDATA)>
        <!-- Propagation speed -->
        <!ELEMENT c (#PCDATA)>
        <!-- Fidelity of the underlying physics simulation (Hz) -->
        <!ELEMENT pathSamplingRate (#PCDATA)>
        <!-- Override the rendering sample rate with the specified one (Hz) -->
        <!ELEMENT rate (#PCDATA)>
        <!-- Random seed for noise -->
        <!ELEMENT randomseed (#PCDATA)>
        <!-- ADC bits for resolution -->
        <!ELEMENT adc_bits (#PCDATA)>
        <!-- Oversampling factor -->
        <!ELEMENT oversample (#PCDATA)>
        <!-- Geodetic Origin for the simulation coordinate system -->
        <!ELEMENT origin EMPTY>
        <!ATTLIST origin
                latitude  CDATA #REQUIRED
                longitude CDATA #REQUIRED
                altitude  CDATA "0"
                >
        <!-- Formats to export -->
        <!ELEMENT export EMPTY>
        <!ATTLIST export xml (true|false) "true">
        <!ATTLIST export csv (true|false) "true">
        <!ATTLIST export binary (true|false) "false">

        <!-- Pulsed Radar Pulse -->
        <!ELEMENT pulse (power?,carrier?)>
        <!ATTLIST pulse name CDATA #REQUIRED
                type (file|cw) #REQUIRED
                filename CDATA #IMPLIED> <!-- Filename required only for specific types -->

        <!-- Pulse power and carrier frequency -->
        <!-- Pulse power (Watts) -->
        <!ELEMENT power (#PCDATA)>
        <!-- Frequency (Hz) -->
        <!ELEMENT carrier (#PCDATA)>

        <!-- Timing Source -->
        <!ELEMENT timing (frequency,freq_offset?,random_freq_offset?,phase_offset?,random_phase_offset?,noise_entry*)>
        <!-- Timing source. Sets frequency -->
        <!ATTLIST timing name CDATA #REQUIRED
                synconpulse (true|false) "true">

        <!-- Frequency (Hz) -->
        <!ELEMENT frequency (#PCDATA)>

        <!-- Noise Entry for timing -->
        <!ELEMENT noise_entry (alpha,weight)>
        <!-- Noise category alpha -->
        <!ELEMENT alpha (#PCDATA)>
        <!-- Weighting of noise in the category -->
        <!ELEMENT weight (#PCDATA)>
        <!-- Offset from system frequency -->
        <!ELEMENT freq_offset (#PCDATA)>
        <!-- Random frequency offset -->
        <!ELEMENT random_freq_offset (#PCDATA)>
        <!-- Phase offset -->
        <!ELEMENT phase_offset (#PCDATA)>
        <!-- Random phase offset -->
        <!ELEMENT random_phase_offset (#PCDATA)>

        <!-- Antenna -->
        <!ELEMENT antenna (alpha?,beta?,gamma?,diameter?,azscale?,elscale?,efficiency?)>
        <!ATTLIST antenna name CDATA #REQUIRED
                pattern CDATA #REQUIRED
                filename CDATA #IMPLIED
                module CDATA #IMPLIED
                function CDATA #IMPLIED>

        <!-- Parameters of antenna model -->
        <!-- Element for beta -->
        <!ELEMENT beta (#PCDATA)>
        <!-- Element for gamma -->
        <!ELEMENT gamma (#PCDATA)>
        <!-- Diameter of the antenna -->
        <!ELEMENT diameter (#PCDATA)>
        <!-- Azimuth scale for a Gaussian pattern -->
        <!ELEMENT azscale (#PCDATA)>
        <!-- Elevation scale for Gaussian pattern -->
        <!ELEMENT elscale (#PCDATA)>
        <!-- The antenna efficiency factor -->
        <!ELEMENT efficiency (#PCDATA)>

        <!-- Platform -->
        <!ELEMENT platform (motionpath,(rotationpath|fixedrotation),(monostatic|transmitter|receiver|target)?)>
        <!ATTLIST platform name CDATA #REQUIRED>

        <!-- Motion paths and Position Waypoints -->
        <!ELEMENT motionpath (positionwaypoint*)>
        <!ATTLIST motionpath interpolation (static|linear|cubic) "static">

        <!-- Position Waypoints -->
        <!ELEMENT positionwaypoint (x,y,altitude,time)>
        <!-- x position of waypoint -->
        <!ELEMENT x (#PCDATA)>
        <!-- y position of waypoint -->
        <!ELEMENT y (#PCDATA)>
        <!-- z (altitude) position of waypoint -->
        <!ELEMENT altitude (#PCDATA)>
        <!-- Time the platform is at the waypoint -->
        <!ELEMENT time (#PCDATA)>

        <!-- Constant Rate Rotation -->
        <!ELEMENT fixedrotation (startazimuth,startelevation,azimuthrate,elevationrate)>
        <!-- Azimuth at time 0 -->
        <!ELEMENT startazimuth (#PCDATA)>
        <!-- Elevation at time 0 -->
        <!ELEMENT startelevation (#PCDATA)>
        <!-- Rate of change of azimuth -->
        <!ELEMENT azimuthrate (#PCDATA)>
        <!-- Rate of change of elevation -->
        <!ELEMENT elevationrate (#PCDATA)>

        <!-- Rotation Paths and Waypoints -->
        <!ELEMENT rotationpath (rotationwaypoint+)>
        <!ATTLIST rotationpath interpolation (static|linear|cubic) #REQUIRED>
        <!ELEMENT rotationwaypoint (azimuth,elevation,time)>
        <!ELEMENT azimuth (#PCDATA)>
        <!ELEMENT elevation (#PCDATA)>

        <!-- Monostatic radar installations -->
        <!ELEMENT monostatic (window_skip?,window_length?,prf,noise_temp?)>
        <!ATTLIST monostatic name CDATA #REQUIRED
                type (pulsed|continuous|cw) #REQUIRED
                antenna CDATA #REQUIRED
                pulse CDATA #REQUIRED
                timing CDATA #REQUIRED
                nodirect (true|false) "false"
                nopropagationloss (true|false) "false">
        <!ELEMENT prf (#PCDATA)>
        <!ELEMENT noise_temp (#PCDATA)>

        <!-- Standalone Transmitter -->
        <!ELEMENT transmitter (prf)>
        <!ATTLIST transmitter name CDATA #REQUIRED
                type (pulsed|continuous|cw) #REQUIRED
                pulse CDATA #REQUIRED
                antenna CDATA #REQUIRED
                timing CDATA #REQUIRED>

        <!-- Standalone Receiver -->
        <!ELEMENT receiver (window_skip?,window_length?,prf,noise_temp?)>
        <!ATTLIST receiver name CDATA #REQUIRED
                antenna CDATA #REQUIRED
                timing CDATA #REQUIRED
                nodirect (true|false) "false"
                nopropagationloss (true|false) "false">
        <!-- Time to skip after start of pulse before starting receiving (seconds) -->
        <!ELEMENT window_skip (#PCDATA)>
        <!-- Length of the range gate (seconds) -->
        <!ELEMENT window_length (#PCDATA)>

        <!-- Target -->
        <!ELEMENT target (rcs,model?)>
        <!ATTLIST target name CDATA #REQUIRED>

        <!-- RCS can either have a 'value' element or a 'filename' attribute -->
        <!-- Target RCS -->
        <!ELEMENT rcs (value?)>
        <!ATTLIST rcs type CDATA #REQUIRED
                filename CDATA #IMPLIED>

        <!-- RCS value -->
        <!ELEMENT value (#PCDATA)>

        <!-- Model element with 'type' as an attribute and optional k element -->
        <!ELEMENT model (k?)>
        <!ATTLIST model type CDATA #REQUIRED>
        <!ELEMENT k (#PCDATA)>

        <!-- Include another XML file -->
        <!ELEMENT include (#PCDATA)>